/* General styles */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Background video styling */
#hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1;
    /* Send the video to the background */
    object-fit: cover;
}

.texture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

/* Caption styles */
.caption {
    text-decoration: none;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    /* Ensure it's above the video */
}

.caption h1,
.caption h2 {
    margin: 25px;
    color: white;
}

/* Button styles */
.action-button {
    text-decoration: none;
    margin-top: 20px;
    padding: 10px 20px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    z-index: 3;
}

.action-button:hover {
    text-decoration: none;
    transform: scale(1.05);
    border-color: rgba(255, 255, 255, 0.7);
    /* Change border color on hover */
}

/* Navigation Bar Styles */
nav {
    background-color: transparent;
    /* Fully transparent background */
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

nav .container {
    display: flex;
    justify-content: center;
}

nav .list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav .list li {
    margin: 0 15px;
}

nav .list li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav .list li a:hover {
    text-decoration: underline;
}

/* Mobile view */
@media (max-width: 768px) {
    .caption {
        top: 60%;
        /* Adjust caption position on smaller screens */
    }

    .action-button {
        text-decoration: none;
        width: 100%;
        padding: 15px;
    }

    nav .list {
        flex-direction: column;
    }

    nav .list li {
        margin: 10px 0;
    }
}

* {
    box-sizing: border-box;
}