.DS
.idea/
.vscode/
.venv*/
venv*/
__pycache__/
dist/
.coverage*
htmlcov/
.tox/
docs/_build/
__pycache__/
**/__pycache__/
tree --gitignore
.DS_Store
.instance/
.instance/map-database.db
/instance/map-database.db