{% extends "base.html" %}

{% block content %}
<!-- Navigation Bar -->
<nav>
    <div class="container">
        <ul class="list">
            <li><a href="{{ url_for('viewsc.greetings') }}">Home</a></li>
            <li><a href="{{ url_for('viewsc.edit_web') }}">Edit Web</a></li>
            <li><a href="{{ url_for('viewsc.maps_view') }}">Continue as User</a></li>
            <li><a href="{{ url_for('viewsc.explore') }}">Explore</a></li>
        </ul>
    </div>
</nav>
<section class="section">
    <div class="welcome-container">
        <h1>Welcome, Admin!</h1>
        <p>You are now logged in as an admin.</p>
        <button onclick="window.location.href='{{ url_for('ice_cream_bp.admin_view') }}'">Go to Admin Dashboard</button>
    </div>
</section>
{% endblock %}
