<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
    <link href="/static/style.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="{{ url_for('viewsc.greetings') }}">Home</a>
            </div>
            <div class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item" href="{{ url_for('viewsc.edit_web') }}">Edit Web</a>
                    <a class="navbar-item" href="{{ url_for('viewsc.maps_view') }}">Continue as User</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
