{% extends "base.html" %}

{% block title %}Explore Ice Creams{% endblock %}

{% block content %}
<div id="hero">
    <video loop muted autoplay preload="auto" id="background-video">
        <source src="./static/images/icecream.mp4" type="video/mp4">
    </video>
    <div class="explore-container">
        {% for icecream in icecreams %}
        <div class="ice-cream-card">
            <img src="{{ icecream.url }}" alt="{{ icecream.name }}">
            <h2>{{ icecream.name }}</h2>
            <p>{{ icecream.description }}</p>
            <p><strong>${{ icecream.price }}</strong></p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
