{% extends "base.html" %}

{% block title %}Explore Ice Creams{% endblock %}

{% block content %}
<div id="hero">
    <div class="section">
        <div class="container">
            <div class="columns is-multiline">
                {% for icecream in icecreams %}
                <div class="column is-one-quarter">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="{{ icecream.url }}" alt="{{ icecream.name }}">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">{{ icecream.name }}</p>
                                </div>
                            </div>
                            <div class="content">
                                <p>{{ icecream.description }}</p>
                                <p><strong>${{ icecream.price }}</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
