<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Background Video</title>
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" rel="stylesheet">
    <link href="./static/normalize.css" rel="stylesheet">
    <link href="./static/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar is-dark">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="{{ url_for('viewsc.greetings') }}">Home</a>
            </div>
            <div class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item" href="{{ url_for('auth.logout') }}">Logout</a>
                </div>
            </div>
        </div>
    </nav>

    <!-- Hero Section with Button -->
    <div id="hero">
        <div></div>
        <div class="texture"></div>
        <video loop muted autoplay preload="auto" id="background-video">
            <source src="./static/images/icecream.mp4" type="video/mp4">
        </video>
        <div class="caption">
            <h1>Find Ice Cream Shops Nearby</h1>

            <h1>This will be the main page: Still working</h1>
        </div>
    </div>

    <script src="./js/script.js"></script>
</body>
</html>
